<div style="height: 10%;"></div>

<script src="../../public/scripts/bootstrap.min.js"></script>
<script>
    document.getElementsByClassName("resp-menu-item")[0].addEventListener("click", () => {

        let hamburger = document.getElementById("hamburger-menu");
        hamburger.classList.toggle("visible");
        

    })
</script>
</body>
</html>