<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Guafak</title>
    <link rel="stylesheet" href="./public/styles/bootstrap.min.css">
    <link rel="stylesheet" href="./public/styles/index.css">
    <script src="https://kit.fontawesome.com/494790d58a.js" crossorigin="anonymous"></script>
</head>
<body>
        <!-- Header -->
        <div class="container-fluid" id="header-top">

        </div>
    
        <div class="container-fluid" id="header-middle">
    
            <div class="col-lg-3 col-md-5 col-md-3 col-3" style="border-right: 2px solid black; display: flex; justify-content: center; align-items: center;">
                <a href="/"><div class="logo" style="background-image: url('/public/assets/Guafak.png'); height: 100px; width: 100px; background-size: contain;">
                </div></a>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-9 col-9">
                <div class="organization-info" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 2%; padding-bottom: 2%;">
                    <h2 style="text-align: center;">University Libraries Digital Guafak</h2>
                    <h6 style="text-align: center;">The University Libraries Digital Repository strives to preserve digital artifacts and resources from Guam and Micronesia  showcasing indigenous knowledge and Island Wisdom.</h6>
                </div>
            </div>
    
        </div>
    
        <div class="container-fluid" id="header-navbar" style="display: flex; justify-content: center; align-items: center;">
    
            <div class="container-fluid">
                <ul id="navbar">
                    <li id="nav" class="main-menu-item"><a href="/items"><h4>ITEMS</h4></a></li>
                    <li id="nav" class="main-menu-item"><a href="/exhibits"><h4>EXHIBITS</h4></a></li>
                    <li id="nav" class="main-menu-item"><a href="/collections"><h4>COLLECTIONS</h4></a></li>
                    <!-- <li id="nav" class="main-menu-item"><a href="/about"><h4>ABOUT US</h4></a></li> -->
                    <li id="nav" class="main-menu-item"><a href="/search"><h4>SEARCH</h4></a></li>
                    <li id="nav" class="resp-menu-item" style="cursor: pointer;"><i class="fa-solid fa-bars"></i></li>
                </ul>
            </div>
        </div>
        <!-- Header -->

        <!-- Responsive Header -->

        <div class="container-fluid" id="hamburger-menu">
    
            <div class="container-fluid" style="background-color: #6A0303;" id="hamburger-container">
                <ul id="hamburger-menu-dropped">
                    <li id="nav" class="main-menu-item-res"><a href="/items"><h4>ITEMS</h4></a></li>
                    <li id="nav" class="main-menu-item-res"><a href="/exhibits"><h4>EXHIBITS</h4></a></li>
                    <li id="nav" class="main-menu-item-res"><a href="/collections"><h4>COLLECTIONS</h4></a></li>
                    <!-- <li id="nav" class="main-menu-item"><a href="/about"><h4>ABOUT US</h4></a></li> -->
                    <li id="nav" class="main-menu-item-res"><a href="/search"><h4>SEARCH</h4></a></li>
                </ul>
            </div>
        </div>

        <!-- Responsive Header -->