<%- include("partials/header") -%>

    <!-- Quick Select -->

    <div class="container-fluid" id="quick-select">

        <div id="carousel" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
            <div class="carousel-inner" style="height: 100%; width: 100%;">
              <div class="carousel-item active" style="height: inherit; width: inherit;">
                <div style="height: 100%; width: 100%; background-image: url('/public/assets/placeholder_img.jpg')">
                <h1>test</h1></div>
              </div>
              <div class="carousel-item" style="height: inherit; width: inherit;">
                <div style="height: 100%; width: 100%; background-image: url('/public/assets/placeholder_img.jpg')"></div>
              </div>
              <div class="carousel-item" style="height: inherit; width: inherit;">
                <div style="height: 100%; width: 100%; background-image: url('/public/assets/placeholder_img.jpg')"></div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
          </div>

    </div>

    <!-- Quick Select -->

    <!-- About Us -->

    <div class="container-fluid" id="about-us-header" style="margin: 0; padding: 0; height: 60%;">

        <div class="row" style="margin: 0; padding: 0;">
            <div class="col-lg-6" style="display: flex; align-items: center; justify-content: left; background-color: #6A0303; margin-top: 5%; width: 50%; padding-top: 1%; padding-bottom: 1%; box-shadow: 2px 2px 2px black;">
                <h2 style="color: white;">ABOUT US: What is the GUAFAK?</h2>
            </div>    
        </div>
        <div class="row" style="width: 100%; height: 100%;">
            <div class="col-lg-12" style="display: flex; align-items: center; justify-content: center; background-color: #96a480; margin-top: 1%; height: 100%; padding-top: 1%; padding-bottom: 1%; box-shadow: 2px 2px 2px black;">
                <h3>Insert organization biography here.</h3>
            </div>    
        </div>

    </div>

    <!-- About Us -->

    <!-- Contact Us-->

    <div class="container-fluid" id="contact-us">
        <div class="container-fluid" id="contact-us-box">
            
            <div class="row container" id="contact-us-header">
                <div class="container-fluid" style="display: flex; justify-content: left;">
                    <h3 style="color: white;">Contact Us</h3>
                </div>
            </div>

            <div class="row container-fluid" >
                <div class="col-lg-6 col-md-12 col-sm-12 col-12" class="contact-info-element" id="contacts-list">
                    <div class="row">
                        <h4 style="color: white;">Ryan Shook</h4>
                        <p style="color: white;"><i class="fa-solid fa-envelope" style="color: white;"></i> shookr@triton.uog.edu</p>
                        <p style="color: white;"><i class="fa-solid fa-phone" style="color: white;"></i> (671) 735-2342</p>
                    </div>
                    <div class="row">
                        <h4 style="color: white;">Monique Storie</h4>
                        <p style="color: white;"><i class="fa-solid fa-envelope" style="color: white;"></i> mstorie@triton.uog.edu</p>
                        <p style="color: white;"><i class="fa-solid fa-phone" style="color: white;"></i> (671) 735-2333</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12" class="contact-info-element" id="marc-directions">
                        <h6 style="color: white;">Micronesian Area Research Center</h6>
                        <a href="https://www.google.com/maps/place/Micronesian+Area+Research+Center/@13.4331917,144.8022696,157m/data=!3m1!1e3!4m5!3m4!1s0x671f9d994e4ffca7:0x465ddd6e1e68b1a1!8m2!3d13.4332765!4d144.8024033"><img class="marc-img" src="./public/marc_directions.jpg" alt="Directions to MARC."></a>
                </div>
    
            </div>
        </div>


    </div>

    <!-- Contact Us-->

    <!-- Contact Us Responsive -->

    <div class="container-fluid" id="contact-us-responsive">

        <div class="row" style="padding-bottom: 10px;">
            <h3 style="color: white; text-align: center;">Contact Us</h3>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <h5 style="color: white;">Ryan Shook</h5>
            <p style="color: white;"><i class="fa-solid fa-envelope" style="color: white;"></i> shookr@triton.uog.edu</p>
            <p style="color: white;"><i class="fa-solid fa-phone" style="color: white;"></i> (671) 735-2342</p>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <h5 style="color: white;">Monique Storie</h5>
            <p style="color: white;"><i class="fa-solid fa-envelope" style="color: white;"></i> mstorie@triton.uog.edu</p>
            <p style="color: white;"><i class="fa-solid fa-phone" style="color: white;"></i> (671) 735-2333</p>
        </div>

        <div class="row" style="padding-bottom: 10px;">
            <h6 style="color: white;">Micronesian Area Research Center</h6>
            <div style="display: flex; justify-content: center; align-items: center; margin: auto;">
                <a href="https://www.google.com/maps/place/Micronesian+Area+Research+Center/@13.4331917,144.8022696,157m/data=!3m1!1e3!4m5!3m4!1s0x671f9d994e4ffca7:0x465ddd6e1e68b1a1!8m2!3d13.4332765!4d144.8024033"><img class="marc-img" src="/public/marc_directions.jpg" alt="Directions to MARC."></a>
            </div>
            
        </div>

    </div>

    <!-- Contact Us Responsive -->

<%- include("partials/footer") -%>