<div class="container-fluid mt-2">

    <% for (let i = 0; i < message.length; i ++) { %>
        <div class="card-body mb-2" style="background-color: #96a480; box-shadow: 1px 1px 1px black;">
            <h5 class="card-title"><%=message[i].title%></h5>
            <h6 class="card-subtitle mb-2 text-muted">Items</h6>
            <a class="btn btn-primary" href="/entry/items/<%=message[i].id%>">View Item</a>
        </div>
    <% } %>

</div>